html {
    font-size: 100px;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
}

.baymax {
    width: 4rem;
    height: 100vh;
    position: relative;
    border: 1px solid #000;
}

.head, .eye, .mouth, .torso, .belly, .cover, .heart, .arm, .leg {
    background: #fff;
    position: absolute;
}


.head {
    width: 1rem;
    height: 0.64rem;
    border-radius: 50%;
    border-bottom: 0.05rem solid #e0e0e0;
    z-index: 10;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.eye {
    width: 0.11rem;
    height: 0.13rem;
    background: #282828;
    border-radius: 50%;
    top: 0.3rem;
    left: 0.24rem;
    transform: rotate(8deg)
}

.eye.right {
    left: 0.62rem;
    transform: rotate(-8deg)
}

.mouth {
    width: 0.38rem;
    height: 0.015rem;
    background: #282828;
    position: absolute;
    top: 0.27rem;
    left: 0.295rem;
    top: 0.365rem;
}

.torso {
    width: 1.8rem;
    height: 2rem;
    border-radius: 47%;
    border: 0.05rem solid #e0e0e0;
    border-top: none;
    top: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
}

.belly {
    width: 2.45rem;
    height: 3rem;
    border-radius: 47%;
    border: 0.05rem solid #e0e0e0;
    border-top: none;
    top: 1.12rem;
    left: 50%;
    transform: translateX(-50%);
}

.cover {
    width: 1.9rem;
    height: 1.5rem;
    border-radius: 50%;
    top: -0.2rem;
    left: 50%;
    transform: translateX(-50%);
}

.heart {
    width: 0.25rem;
    height: 0.25rem;
    box-shadow: 2px 5px 2px #ccc inset;
    border-radius: 50%;
    border: 1px solid #ccc;
    top: -0.24rem;
    left: 1.48rem;
}

.arm {
    width: 1.2rem;
    height: 2.7rem;
    border-radius: 50%;
    top: 0.64rem;
    left: 50%;
    transform: translateX(-132%) rotate(20deg);
    z-index: -10;
}

.arm.right {
    transform: translateX(32%) rotate(-20deg);
}

.leg {
    width: 0.9rem;
    height: 1.7rem;
    border-radius: 40% 30% 10px 45%;
    top: 3.2rem;
    left: 50%;
    transform: translateX(-103%) rotate(-1deg);
    z-index: -10;
}

.leg.right {
    border-radius: 30% 40% 45% 10px;
    transform: translateX(3%) rotate(1deg);
}