* {
    transition: all 1s;
}

html {
    font-size: 100px;
}

body {
    margin: 0;
    padding: 0;
    background: #eee;
    display: flex;
}

.code {
    flex: 50%;
    height: 100vh;
    background: #fff;
    font-size: 16px;
    font-family: Menlo, Monaco, Consolas, "Andale Mono", "lucida console", "Courier New", monospace;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0;
}

.paper {
    flex: 50%;
    height: 100vh;
    display: flex;
}

.baymax {
    width: 4rem;
    height: 5rem;
    margin: auto;
    position: relative;
}

.head, .eye, .mouth, .torso, .belly, .cover, .heart, .arm, .leg {
    background: #fff;
    position: absolute;
}